<img {{bind-attr src="disabledImg" alt="face.quote"}} class="disabled-img">
<img {{bind-attr src="activeImg" alt="face.quote"}} class="active-img">
{{#link-to "face" face.quote (query-params transition=false) class="share-cartoon"}}Compartir{{/link-to}}
<a class="play-button" {{action "play"}}>
  <span></span><span></span>
</a>