@import "config";
@import "loader";
@import "components/cartoon-face";

*{
  box-sizing: border-box;
}
html{
  background-color: $main-blue;
}
#application-content{
  text-align: center;
  opacity: 0;
  transition: all 1s;
  visibility: hidden;

  &.is-loaded{
    opacity: 1;
    visibility: visible;
  }
}
#application-loader{
  p{
    width: 160px;
    font-size: 20px;
    color: white;
    position: absolute;
    top: -50px;
    left: -55px;
  }
}