@import "http://fonts.googleapis.com/css?family=Oswald";
@import 'bower_components/bourbon/dist/bourbon';
@import "bower_components/sass-flex-mixin/flex";
@import "config";
@import "mixins";
@import "loader";
@import "keyframes";
@import "components/cartoon-face";
@import "components/play-button";
@import "sections/face";

*{
  box-sizing: border-box;
}
html{
  background-color: $main-blue;
  font-family: Oswald, verdana;
  color: white;
}
#application-content{
  text-align: center;
  opacity: 0;
  transition: all 1.5s;
  visibility: hidden;

  &.is-loaded{
    opacity: 1;
    visibility: visible;
  }

  header{
    border-color: white;
    border-style: solid;
    border-width: 5px 0;
    font-size: 65px;
    padding: 0.5rem 0;
    margin: 1rem 5rem 1rem 5rem;
  }
  .share-buttons{
    padding: 0rem 5rem;
    height: 1.3rem;

    > *{
      float: left;
    }

    .twitter-share-button{
      margin-top: 4px;
      margin-left: 10px;
    }
  }
}
#application-loader{
  p{
    width: 160px;
    font-size: 20px;
    color: white;
    position: absolute;
    top: -50px;
    left: -55px;
  }
}
#github-img img{
  z-index: 9;
}
footer{
  border-top: 2px solid white;
  
  .heart{
    color: lightcoral;
    font-size: 30px;
  }
  a{
    text-decoration: none;
    color: black;

    &:hover{
      text-decoration: underline;
    }
  }
}