.cartoon-face-component{
  $size: 150px;

  width: $size;
  display: inline-block;
  position: relative;
  
  &.mouse-events{
    cursor: pointer;
  }
  
  &:not(.mouse-events){
    .disabled-img{
      width: 0;
      height: 0;
    }
    .active-img{
      width: $size;
      height: $size;
    }
    .play-button{
      display: block;
    }
  }

  &:hover.mouse-events{
    .disabled-img{
      width: 0;
      height: 0;
    }
    .active-img{
      width: $size;
      height: $size;
    }
    &.mouse-events .share-cartoon{
      display: block;
    }
  }
  
  &.mouse-events{
    button{
      display: none;
    }
  }
  img{
    margin: 10px 0;

    &.disabled-img{
      height: $size;
      width: $size;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    }

    &.active-img{
      width: 0;
      height: 0;
    }
  }
  
  .share-cartoon{
    display: none;
    position: absolute;
    top: 0rem;
    right: 0rem;
    color: white;
    text-decoration: none;
    background-color: #00b9d5;
    padding: 5px;
    
    &:hover{
      background-color: white;
      color: $main-blue;
      &:before{
        border-color: white transparent transparent transparent;
      }
    }

    &:before{
      content: " ";
      border-color: #00b9d5 transparent transparent transparent;
      border-style: solid;
      border-width: 10px;
      height: 0;
      width: 0;
      position: absolute;
      bottom: -20px;
      left: 50%;
      margin-left: -10px;
    }
  }

  //Hidden
  &.rubalcaba, &.santamaria, &.vega, &.montoro{
    display: none;
  }
}