.play-button {
  @include transform(scale(0.5));
  @include default-transition;
  cursor: pointer;
  display: none;
  position: relative;
  width: 145px;
  height: 145px;
  margin: 0 auto;
  overflow: hidden;
  border: 9px solid white;
  border-radius: 100%;
  margin-top: -2rem;
  
  span, span + span {
    @include default-transition;
    @include transform(translate3D(0, 0, 0));
    display: block;
    position: relative;
    margin: 35px 0 0 48px;
    border-color: transparent white;
    border-style: solid;
    border-width: 30px 0px 30px 51px;
    height: 0;
    width: 0;
  }
  
  span + span {
    margin: 0;
    position: absolute;
    top: 36px;
    left: -60px;
    border-color: transparent lightgreen;
  }

  &:hover {
    border-color: tint(lightgreen, 50);
  }
  
  &:hover > span, &:active > span {
    @include transform(translate3D(110px, 0, 0));
  }
}