<div {{bind-attr class=":face-content shouldTransition"}}>
  {{cartoon-face face=model mouseEvents=false autoplay=shouldTransition}}
  {{#link-to "application" class="close-face"}}✖{{/link-to}}
</div>