<footer>
  Creado con <span class="heart">♥</span> por 
  <a href="https://twitter.com/zzarcon" target="_blank">@zzarcon</a>
  <a href="https://twitter.com/alberto_vilva" target="_blank">@alberto_vilva</a>
  <a href="https://instagram.com/randomheroo/" target="_blank">@randomheroo</a>
</footer>