<div class="share-buttons">
  <div class="fb-share-button" data-href="https://www.facebook.com/porlabocamuereelpezofficial" data-layout="button_count"></div>
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.porlabocamuereelpez.com" data-via="porlabocamuere1" data-hashtags="porlabocamuereelpez">Tweet</a>
</div>
<header>Por la boca muere el pez</header>